*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Castoro;
}
body,html,#root{
	width: 100%;
	height: 100%;
	min-height: 650px;
	min-width: 450px;
}
body{
	background-color: #1b263b;
	height: 100%;
	width: 100%;
}
html{
	scroll-behavior: smooth;


}
::-webkit-scrollbar{
	width: 7px;
}
::-webkit-scrollbar-thumb{
	width: 7px;
	border-radius:10px;
	background-color: #778da9;
}
